.logged-in-warning {
	padding: .75em;
	margin-bottom: 2em;
}

/* 
 * Goals page
 */

.goals-list button.close {
	float: none;
	border: none;
}

.goals-list span.complete {
    color: #5cb85c;
}

.goals-list span.incomplete {
    color: #f0ad4e;
}


/*
 * Footer
 */
 
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: inherit;
}